---
layout: default
about-headline: In love with coffee since 2004.
about: |
    We’re part of Cairns. And what we do with our coffee is too. Our cafes and our roastery is about using our love of coffee to make a better community. So drop in if you’re ever around. We’d like to get to know you. You should definitely try our lorem ipsum here.
---


<header class="c-header o-coverImage c-imageBlend" style="background-image: url('{{ site.assetsurl }}billy.jpg')">
    <div class="o-container--md">
        <div class="o-ghost">
            <div class="o-ghost-child">
                <h1 class="c-headline--sm u-textLeft">Welcome! Thanks for stopping by. We don’t just source, roast & brew our own coffee. Every morning, we make our place a better place.</h1>
                {% include cite.html %}
            </div>

        </div>
    </div>
</header>

<main class="main" aria-label="Content">
    <section class="c-section">
        <div class="c-block u-textCenter">
            <div class="o-container">
                <img class="c-logo" src="{{ site.assetsurl }}billys-logo.png" alt="" />
                <h1 class="c-headline">Come for coffee. Stay for the chat.</h1>
            </div>
        </div>
        <div class="c-block">
            <div class="o-container--super">
                <div class="Grid Grid--withGutter">
                    <div class="Grid-cell u-sm-size1of3">
                        <div class="c-block-cell">
                            <img src="{{ site.assetsurl }}billys-markets.jpg" alt="Billys Coffee at Rusty's markets" />
                            <p>
                                <a href="https://goo.gl/maps/TNTnAM9CyH22">
                                    <strong>Billy’s Coffee</strong>
                                    Rustys Market, 57-89 Grafton St, Cairns<br>
                                    Fri–Sun 6am–3pm
                                </a>
                            </p>
                        </div>
                    </div>
                    <div class="Grid-cell u-sm-size1of3 u-sm-spaceT2">
                        <div class="c-block-cell">
                            <img src="{{ site.assetsurl }}billys-cafe.jpg" alt="" />
                            <p>
                                <a href="https://goo.gl/maps/4psBv2dPWU22">
                                    <strong>Billy’s Cafe</strong>
                                    57 Sheridan St, Cairns<br>
                                    Fri–Sun 6am–3pm
                                </a>
                            </p>
                        </div>
                    </div>
                    <div class="Grid-cell u-sm-size1of3 u-sm-spaceT2">
                        <div class="c-block-cell">
                            <img src="{{ site.assetsurl }}billys-roasting.jpg" alt="" />
                            <p>
                                <a href="https://goo.gl/maps/nRLrHEVQCqS2">
                                    <strong>Billy’s Roasting</strong>
                                    6/34 Wharf Street, Esplanade, Cairns<br>
                                    Fri–Sun 6am–3pm
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="c-section o-coverImage o-coverImage--blends" style="background-image: url('{{ site.assetsurl }}bg-blends.jpg')">
        <div class="c-block u-textCenter">
            <div class="o-container">
                <h1 class="c-headline">Buy Billy's <span class="u-sm-lineBreak">best blends.</span></h1>
                <h2 class="c-headline--smSemi">Locally sourced. Fresh roasted daily.</h2>
            </div>
        </div>
        <div class="c-block">
            <div class="o-container--super">
                <div class="Grid Grid--withGutter Grid--alignCenter">
                    <div class="Grid-cell u-sm-size1of3">
                        {% include product.html %}
                    </div>
                    <div class="Grid-cell u-sm-size1of3 u-sm-spaceT2">
                        {% include product.html %}
                    </div>

                </div>
            </div>
        </div>
    </section>

    <section class="c-section">
        <div class="c-block">
            <div class="o-container--super">
                <div class="Grid Grid--withGutter Grid--alignCenter Grid--alignMiddle">
                    <div class="Grid-cell u-sm-size1of3">
                        <img src="{{ site.assetsurl }}billy-instagram.jpg" alt="" />
                    </div>
                    <div class="Grid-cell u-sm-size1of2 u-sm-spaceT">
                        <p class="c-text--lg">
                            <strong>{{ page.about-headline }}</strong>
                            {{ page.about }}
                        </p>
                        {% include cite.html %}
                    </div>

                </div>
            </div>
        </div>
    </section>
</main>

<footer class="c-footer">
    <div class="c-block u-textCenter">
        <div class="o-container">
            {% include enews.html %}
        </div>
    </div>
    <div class="c-block u-textCenter">
        <div class="o-container">
            <img class="c-logo" src="{{ site.assetsurl }}billys-logo.png" alt="" />
            <h2 class="c-headline--sm">Billys Coffee, Cairns</h2>
            <h3 class="c-headline--xsSemi">Locally sourced. Fresh roasted daily.</h3>
            <p class="c-text--sm">© {{ 'now' | date: "%Y" }}. Site by <a href="http://www.patternworks.com.au">Patternworks.</a></p>
        </div>
    </div>
</footer>
