<!-- header w/ bg image -->

<!-- <header class="c-header o-coverImage c-imageBlend" style="background-image: url('{{ site.assetsurl }}billy.jpg')"> -->
<!-- <header
    class="c-header o-coverImage c-imageBlend lazyload ls-blur"
    data-sizes="auto"
    data-srcset="{{ site.assetsurl }}billy-src.jpg 300w, {{ site.assetsurl }}billy-xs.jpg 900w, {{ site.assetsurl }}billy.jpg 1800w">
    <div class="o-container--md">
        <div class="o-ghost">
            <div class="o-ghost-child">
                <h1 class="c-headline--sm u-textLeft">Welcome! Thanks for stopping by. We don’t just source, roast & brew our own coffee. Every morning, we make our place a better place.</h1>
                <cite class="c-cite">
                    <span>— Billy</span>
                    (<a href="{{ site.instagram }}">@billyscoffeecairns</a>)
                </cite>
            </div>

        </div>
    </div>
</header> -->
