{% assign mailchimp-action-code = "//billyscoffee.us11.list-manage.com/subscribe/post?u=0a9922eb4a9119de5711570eb&id=371ddd6670" %}
{% assign mailchimp-name-code = "b_0a9922eb4a9119de5711570eb_371ddd6670" %}

<div id="mc_embed_signup" class="">
	<form action="{{ mailchimp-action-code }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
		<div id="mc_embed_signup_scroll">
			<div class="mc-field-group">

                <div class="Grid Grid--withGutterSm">
                    <div class="Grid-cell u-sm-size8of12">
                        <!-- <label for="mce-EMAIL">Add your email</label> -->
                        <input class="" id="mce-EMAIL" type="email" value="" name="EMAIL" placeholder="add your email" required>
                        <div style="position: absolute; left: -5000px;"><input type="text" name="{{ mailchimp-name-code }}" tabindex="-1" value=""/></div>
                    </div>
                    <div class="Grid-cell u-sm-size4of12 u-sm-spaceT">
                        <input class="Button t-button t-button--full" id="mc-embedded-subscribe" type="submit" value="sign up" name="subscribe">
                    </div>
                </div>

			</div>
		</div>
	</form>
</div>
