

// --------------------------------------------------------------------------
//   HEADER LAYOUT
// --------------------------------------------------------------------------


$blockSpace: 12vh;

.c-header {
    height: 100vh;
	position: relative;
}

.c-header h1,
.c-header cite {
    color: palette(white);
}

.c-section {
    padding: $blockSpace 0;
}

.c-block {
    margin-top: $blockSpace;
    &:first-of-type { margin: 0; }
}

.c-block-cell {
    display: block;
}

.c-block-cell p {
    margin: space(1) 0 0;
    text-align: center;
}

.c-logo {
    width: 130px;
    margin-bottom: space(0.5);
}










// Slide
// --------------------------------------------------------------------------

// .Slide {
// 	&--phn  { @include reverseTextBlock(); background-color: palette(project-phn); }
// 	&--test { @include reverseTextBlock(); background-color: salmon; }
// }



// Quick Hero figure component
// --------------------------------------------------------------------------

// .Hero-wrapper {
// 	@include o-posFullScreen(absolute);
// 	top: auto;
// }
//
// .Hero {
// 	@include container( container-width(xl) );
//
// 	&--right { text-align: right; }
//
// 	img {
// 		display: inline-block !important;
// 		max-width: 600px;
// 	}
// }



// .Slide {
// 	@include baseTransition;
// 	background-position: 50% 100%;
// 	background-repeat: no-repeat;
// 	bottom: 0;
// 	background-size: contain;
// 	height: 100%;
// 	left: space(1);
// 	// max-height: 45%;
// 	max-height: 73%;
// 	// max-height: 50vh;
// 	margin: 0 auto;
// 	position: absolute;
// 	right: space(1);
//
// 	@include respond-to(md) {
// 		left: 0;
// 		right: 0;
// 	}
//
// 	// @include respond-to(md) { max-height: 50vh; }
// 	// @include respond-to(lg)  { max-height: 60%; }
// 	// @include respond-to(xl)  { max-height: 66%; }
// 	// @include respond-to(xxl) { max-height: 71%; }
// }
