

// --------------------------------------------------------------------------
// FIGURE ELEMENT
// --------------------------------------------------------------------------


.Figure {
	margin: space(2) auto;

	img { width: 100%; }
}

.Figure--hero {
	margin: 0 0 space(1);

	@include media-breakpoint-up(xs) {
		margin: 0 0 space(1.25);
	}
}
