

// --------------------------------------------------------------------------
//   VARIABLE SETTINGS
// --------------------------------------------------------------------------


// Namespace for themeing & testing
// Apply: .#{$namespace}textarea
// --------------------------------------------------------------------------

$namespace             : '';


// Colours
// --------------------------------------------------------------------------

$base-black                    : #000;
$base-white                    : #FFF;

$palette: (
	black                      : $base-black,
	text                       : #151515,
	dark                       : tint($base-black, 15%),
	ash                        : tint($base-black, 22%),
	charcoal                   : tint($base-black, 39%),
	medium                     : tint($base-black, 50%),
	muted                      : tint($base-black, 70%),
	base                       : tint($base-black, 86%),
	light                      : tint($base-black, 94%),
	faint                      : tint($base-black, 97%),
	white                      : $base-white,
	background                 : #fdfdfd,
	neutral                    : #F3F2F1,
	neutral-dark               : darken(#f0eeeb, 9%),
	neutral-light              : lighten(#f0eeeb, 4%),
	brand                      : #B29B5F,
	brand-complement           : #6EBE44,
	brand-counter              : #887E73,
	modal-background           : #151515,
	warning                    : #FFD40C,
	bad-news                   : #C60C0C,
	good-news                  : brand-complement
);


// Base size measures
// --------------------------------------------------------------------------

$base-font-size-unit           : 17;
$base-line-height-unit         : 1.45;
$base-font-size                : $base-font-size-unit * 1px;
$base-line-height              : ($base-font-size-unit * $base-line-height-unit) * 1px; // 24.65
$space-unit                    : $base-line-height;
$space                         : $space-unit * 1;

$blockSpacer                   : 21vh;
$paragraphSpacer               : space(0.75);



// Widths (based on BS4)
// --------------------------------------------------------------------------

// BS4 defaults:
// Removed the BS4 ascending mixin:
// @include _assert-ascending($grid-breakpoints, "$grid-breakpoints");),
// $container-max-widths: (
// 	sm: 576px,
// 	md: 720px,
// 	lg: 940px,
// 	xl: 1140px
// ) !default;

$grid-breakpoints: (
	xs: 0,
	sm: 544px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
	su: 1700px
) !default;

$container-max-widths: (
	sm: 576px,
	md: 660px,
	lg: 960px,
	xl: 1200px,
	su: 1700px,
) !default;


// Font sizes
// --------------------------------------------------------------------------

$fontsizes: (
	Text--sm: (
		xs            : 13px,
		sm            : 16px,
	),
	Text: (
		xs            : 16px,
		sm            : $base-font-size,
	),
	Text--lg: (
		xs            : 26px,
		sm            : 32px,
	),
	Headline--sm: (
		xs            : 28px,
		sm            : 32px,
		lg            : 39px
	),
	Headline: (
		xs            : 39px,
		sm            : 44px,
		lg            : 50px
	),
	Display: (
		xs            : 40px,
		sm            : 54px,
		lg            : 60px
	)
);


// Other sizes
// --------------------------------------------------------------------------

$border-radius: (
    small             : 3px,
    base              : 4px,
    large             : 6px
);

$button-height: (
    concise           : 36px,
    base              : 44px,
    large             : 48px
);

$list-inset: (
    margin            : space(1.5),
    padding           : 0
);




// TODO: remove these by updating the mixins that reference them.

$size: (

	breakpoint: (
		'max-xs'          : ( max-width:  600px ),
		'max-sm'          : ( max-width:  767px ),
		'ip6'             : ( min-width:  374px ),
		'xs'              : ( min-width:  600px ),
		'sm'              : ( min-width:  767px ),
		'md'              : ( min-width: 1025px ),
		'lg'              : ( min-width: 1200px ),
		'xl'              : ( min-width: 1700px ),
		'xxl'             : ( min-width: 1920px )
	),



);


// Transitions
// --------------------------------------------------------------------------

$transition: (
	duration: (
		fast         : 50ms,
		short        : 150ms,
		long         : 500ms
	),
	type: (
		thisalso     : cubic-bezier(0.19, 1, 0.22, 1),
		cubic-static : cubic-bezier(0, -0.1, 1, -0.1),
		cubic-state  : cubic-bezier(0, 1.1, 1, 1.1),
		base         : ease-out,
		fine         : ease-in-out
	)
);


// Z-indexes
// --------------------------------------------------------------------------

$z-index: (
	'modal'     : 8001,
	'overlay'   : 8000,
	'dropdown'  : 7000,
	'second'    : 2000,
	'first'     : 1000,
	'default'   : 1,
	'below'     : -1,
);


// Fonts
// --------------------------------------------------------------------------

// Define path, font names & stacks

$fonts-path           : '/assets/fonts/';
$font-mono-stack      : Menlo, Monaco, Consolas, "Liberation Mono", 'Courier New', 'Andale Mono', 'Lucida San Typewriter', 'Lucida Console', monospace;
$sans-font-name       : '';
$sans-font-stack      : -apple-system, BlinkMacSystemFont, "Roboto", "Helvetica Neue", "Droid Sans", "Segoe UI", "Fira Sans", "Ubuntu", sans-serif;
$serif-font-name      : '';
$serif-font-stack     : Georgia, "Times New Roman", "Times", serif;
$display-font-name    : '';
$display-font-stack   : $sans-font-stack;

// Is the text font sans or serif?

$text-font-name       : $sans-font-name;

// Create text family vars

$text-thin            : #{$text-font-name}Thin;
$text-light           : #{$text-font-name}Light;
$text-book            : #{$text-font-name}Book;
$text-regular         : #{$text-font-name}Regular;
$text-medium          : #{$text-font-name}Medium;
$text-semi            : #{$text-font-name}SemiBold;
$text-bold            : #{$text-font-name}Bold;
$text-xbold           : #{$text-font-name}ExtraBold;
$text-black           : #{$text-font-name}Black;

$text-regular-italic  : #{$text-font-name}RegularItalic;
$text-medium-italic   : #{$text-font-name}MediumItalic;
$text-semi-italic     : #{$text-font-name}SemiboldItalic;
$text-bold-italic     : #{$text-font-name}BoldItalic;

// Make all font files available
// Mixin options: $font-family, $file-path, $weight, $style, $formats
// NB. The below example prints an unwanted space between the path var and the font var:
// @include font-face($text-thin, join($fonts-path,$text-thin) );

@include font-face($text-thin,    '#{$fonts-path}#{$text-thin}' );
@include font-face($text-light,   '#{$fonts-path}#{$text-light}' );
@include font-face($text-book,    '#{$fonts-path}#{$text-book}' );
@include font-face($text-regular, '#{$fonts-path}#{$text-regular}' );
@include font-face($text-medium,  '#{$fonts-path}#{$text-medium}' );
@include font-face($text-semi,    '#{$fonts-path}#{$text-semi}' );
@include font-face($text-bold,    '#{$fonts-path}#{$text-bold}' );
@include font-face($text-xbold,   '#{$fonts-path}#{$text-xbold}' );
@include font-face($text-black,   '#{$fonts-path}#{$text-black}' );
@include font-face($text-regular-italic, '#{$fonts-path}#{$text-regular-italic}' );

// Apply font family vars to a font-stack.
// Only use these variables in our classes.

$main-font-stack      : $sans-font-stack;

$font-text-thin       : join($text-thin, $main-font-stack);
$font-text-light      : join($text-light, $main-font-stack);
$font-text-book       : join($text-book, $main-font-stack);
$font-text-regular    : join($text-regular, $main-font-stack);
$font-text-medium     : join($text-medium, $main-font-stack);
$font-text-semi       : join($text-semi, $main-font-stack);
$font-text-bold       : join($text-bold, $main-font-stack);
$font-text-bold-i     : join($text-bold-italic, $main-font-stack);
$font-text-xbold      : join($text-xbold, $main-font-stack);
$font-text-black      : join($text-black, $main-font-stack);
$font-display         : join($display-font-name, $display-font-stack);

$font-text-regular-i  : join($text-regular-italic, $main-font-stack);
$font-text-medium-i   : join($text-medium-italic, $main-font-stack);
$font-text-regular-i  : join($text-regular-italic, $main-font-stack);

// if using @fontface via a cloud service, eg. Google fonts.

//$font-weight: (
//	'thin'      : 100,
//	'light'     : 200,
//	'book'      : 400,
//	'regular'   : 500,
//	'medium'    : 600,
//	'bold'      : 700,
//	'black'     : 900
//);
