

// --------------------------------------------------------------------------
//   TEXT TYPOGRAPHY
// --------------------------------------------------------------------------


// Common theme…

@mixin textTemplate(
	$mixinSize: Text,
	$mixinColor: palette(brand),
	$mixinFont: $font-text-regular,
	$mixinLetterSpacing: 0.01em,
	$mixinLineHeight: $base-line-height-unit
) {
	// reset
	// this may not be needed if we've styled the body
	// so everything inherits it…
	// @include typeReset();

	// standards
	color: $mixinColor;
	font-family: $mixinFont;
	line-height: $mixinLineHeight;

	// sizes
	font-size: fontsize($mixinSize, xs);
	@include media-breakpoint-up(sm) { font-size: fontsize($mixinSize, sm); }

	// children
	> li,
	> li a,
	> a {
		color: currentColor;
		font-family: inherit;
		font-size: inherit;
		margin: 0;
	}
}


// Text components by size…

@mixin textRg() {
	@include textTemplate();
	letter-spacing: 0.007em;
}

@mixin textSm() {
	@include textTemplate(
		$mixinSize: Text--sm,
		$mixinLetterSpacing: 0.02em
	);
	letter-spacing: 0.02em;
}

@mixin textLg() {
	@include textTemplate(
		$mixinSize: Text--lg,
		$mixinFont: $font-text-light,
		$mixinLetterSpacing: -0.01em
	);
}



// Component: Text
// Initiate mixins in classes.
// --------------------------------------------------------------------------

.Text--sm       { @include textSm(); }
.Text           { @include textRg(); }
.Text--medium   { @include textRg(); color: palette(medium); }
.Text--intro    { @include textRg(); color: palette(medium); margin-bottom: space(0.5); }
.Text--lg       { @include textLg(); margin-bottom: 0; }

.Text--meta {
	@include textSm();
	color: palette(medium) !important;
	// text-align: center;

	> a {
		border-color: transparent !important;

		@include on-event() {
			border-color: palette(medium) !important;
		}
	}

	@include media-breakpoint-up(sm) {
		margin: auto;
		// width: 70%;
	}
}

.c-cite {
    @include textRg();
    display: block;
    font-family: $font-text-bold;
    font-style: normal;
    letter-spacing: 0.06em;
    margin-top: space(0.5);
    text-transform: uppercase;

    a {
        letter-spacing: inherit;
    }
}



// Component: Text blocks
// --------------------------------------------------------------------------

.Text-block { > * { @include textRg(); } }

.Text-block--footer {
	@include listClean();
	margin: 0;

	&::before {
		background-color: rgba( palette(background), 0.2);
		content: " ";
		display: block;
		height: 1px;
		margin: space(1) 0 space(1.15);
		width: 2.5%;
	}

	> * {
		@include textRg();
		margin-bottom: 0;
	}
}




// Component: list
// --------------------------------------------------------------------------

//list cell of fixed width, like a tabbed info element
.c-list--itemTag {
	@include textSm();
	display: inline-block;
	width: space(0.75);
}

.c-list--meta {
	@include textSm();
	@include listClean();
	color: palette(medium);
	margin-bottom: space(1.25);
}

.c-list--meta-title {
	color: palette(text) !important;
	margin: space(1.25) 0 space(0.625) !important;

	&:first-child {
		margin-top: 0 !important;
	}
}



// Utility: Responsive line break
// https://css-tricks.com/injecting-line-break/
// --------------------------------------------------------------------------

@include media-breakpoint-down(sm) {
    span.u-sm-lineBreak {
        display: table !important;
    }
}



// Utility: HTML elements
// --------------------------------------------------------------------------

// h1, h2, h3, h4, h5, h6,
// blockquote, figure
// li
ul, ol, dl,
p, address,
table, time,
fieldset, figcaption,
pre, a {
	@include textRg();
}

em,
.u-textEm {
	@include typeReset();
	font-family: $font-text-bold-i;
}

b,
strong,
.u-textBold {
	@include typeReset();
	font-family: $font-text-bold;

    // theme
    display: block;
    text-transform: uppercase;
}

blockquote,
.Blockquote {
	// is this req'd?
	// @include typeReset();
	color: palette(medium);
	font-family: $font-text-book;
	font-size: fontsize(Text, xs);
	margin-bottom: space(0.75);

	@include media-breakpoint-up(sm) {
		font-size: fontsize(Text, sm);
		margin-bottom: space(1);
	}
}

// .Lede {
// 	@include textRg();
// 	color: color(text, brand) !important;
// 	font-family: $font-text-regular;
// 	font-size: map-fetch($size, font, headerRg, xs);
// 	line-height: 1.45;
// 	// margin-bottom: space(1);
//
// 	@include media-breakpoint-up(sm) {
// 		font-family: $font-text-bold;
// 		font-size: map-fetch($size, font, headerRg, base);
// 		line-height: $base-line-height-unit;
// 	}
// }



// Utility: weights & italics
// --------------------------------------------------------------------------

.u-textWtLt        { font-family: $font-text-light !important; }
.u-textWtRg        { font-family: $font-text-regular !important; }
.u-textWtMd        { font-family: $font-text-medium !important; }
.u-textWtSemi      { font-family: $font-text-semi !important; }

.u-textEmRg        { font-family: $font-text-regular-i !important; }
.u-textEmMd        { font-family: $font-text-medium-i !important; }
