

// --------------------------------------------------------------------------
//   HEADLINE TYPOGRAPHY
// --------------------------------------------------------------------------


// Common theme…

@mixin headlineTemplate(
	$mixinSize: Headline,
	$mixinColor: palette(brand),
	$mixinFont: $font-text-bold,
	$mixinLetterSpacing: 0,
	$mixinLineHeight: 1.25,
	$mixinMarginBottom: 0
) {
	// reset
	// this may not be needed if we've styled the body
	// so everything inherits it…
	// @include typeReset();

	// standards
	color: $mixinColor;
	font-family: $mixinFont;
	letter-spacing: $mixinLetterSpacing;
	line-height: $mixinLineHeight;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: $mixinMarginBottom;
	text-align: center;

	// sizes
	font-size: fontsize($mixinSize, xs);
	@include media-breakpoint-up(sm) { font-size: fontsize($mixinSize, sm); }
	@include media-breakpoint-up(lg) { font-size: fontsize($mixinSize, lg); }

	// children
	> li,
	> li a,
	> a {
		border-bottom: 0;
		color: currentColor;
		font-family: inherit;
		font-size: inherit;
		margin: 0;
	}
}


// Component by size…

@mixin headlineSm() {
	@include headlineTemplate(
		$mixinSize: Headline--sm,
		$mixinLetterSpacing: 0.012em
	);
}

@mixin headline() {
	@include headlineTemplate(
		$mixinSize: Headline
	);
}

@mixin display() {
	@include headlineTemplate(
		$mixinLetterSpacing: -0.005em,
		$mixinLineHeight: 1.1
	);

	@include when-inside(".Footer") {
		margin-bottom: space(1.25);
	}
}



// Component: headline
// --------------------------------------------------------------------------

.c-display      { @include display(); }
.c-headline     { @include headline(); }
.c-headline--sm { @include headlineSm(); }

.c-headline em {
	font-family: inherit;
	font-style: normal;
	font-weight: normal;
}


// Component: headline blocks.
// --------------------------------------------------------------------------

// .Headline-block { > * { @include headline(); } }
