<!DOCTYPE html>
<html lang="{{ site.lang | default: page.lang | default: 'en' }}">

    {% include head.html %}

<body>

    {{ content }}
    {% include coffee-secrets-icon.html %}

    <!-- <script src="https://code.jquery.com/jquery-2.1.4.min.js" integrity="sha256-8WqyJLuWKRBVhxXIL1jBDD7SDxU936oZkCnxQbWwJVw=" crossorigin="anonymous"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <!-- <script src="/build/application.min.js"></script> -->
    {% include snipcart-scripts.html %}
    {% include google-analytics.html %}

</body>

</html>
